<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload an image</h1>
      <hr>

      <form action="/upload" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select image</label>
          <br>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="images[]" multiple="multiple" accept=’.jpg,.jpeg,.png,.gif’>
            <label class="custom-file-label" for="image">Select image...</label>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>

      <form action="/upload" method="DELETE">

        <div class="form-group">
          <div class="custom-file">
            <input type="text" class="custom-file-input" id="delete_img">
            <label class="custom-file-label" for="delete_img">Specify ID of the file you wish to delete</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>

      </form>

    </div>
  </div>
</div>